*{
  box-sizing: border;
  font-family: Arial;
}

body {

  background: #e3e3e3;
  font-family: arial, Helvetica, sans-serif;
  height: 499px;
  color: white;
  text-align: right;
  letter-spacing: 1px;
}

/* Style of the navigation bar */
.topnav {
  overflow: hidden;
  background-color: #21201E;
}

/* Style of topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

/* Color on hover */
.topnav a:hover {
  background-color: #fff;
  transform: translate(5px, 0px);
  color: black;
}


.content {
  background-attachment: fixed;
  background-image: url(https://i.imgur.com/mI4z02c.jpg);
  background-repeat:no-repeat;
  background-position: top;
  padding: 70px;
  height: 400px;

}


.footer {
  background-color: #f3f5f6;
  background-attachment: fixed;
  background-image: url(https://i.imgur.com/BC0YjXU.png);
  background-repeat: no-repeat;
  background-size: contain,230px;
  background-position: left, 80px;
  padding:499px;
  margin-top: 10px;
}
